html {
	background-color: #cccccc;
	color: undefined;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
	font-style: normal;
	text-align: left;
	text-decoration: none;
	text-shadow: 23px 0px #65737D;
}

#headshot1 {
  width:200px;
  height:auto;
}

.bio {
  font-family: 'Bree Serif', serif;
}
