html {
  background-color: #eeeeee;
}

.myname {
  font-family: "Bree Serif";
}

#headshot1 {
  width: 200px;
  height: auto;
}

.profilepic {
  position: absolute;
  top: 20;
  left: 20;
}

.centerdiv {
  width: 300px;
  margin: 0 auto;
  font-family: "Bree Serif", Garamond, Georgia, "Times New Roman";
}

.centerblock {
  width: 300px;
}

@media (max-width: 860px) {
  .profilepic {
    position: relative;
  }
}
