@font-face {
    font-family: 'astonishedregular';
    src: url('fonts/astonished-webfont.eot');
    src: url('fonts/astonished-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/astonished-webfont.woff2') format('woff2'),
         url('fonts/astonished-webfont.woff') format('woff'),
         url('fonts/astonished-webfont.ttf') format('truetype'),
         url('fonts/astonished-webfont.svg#astonishedregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.center {
  width: 500px;
  margin: 0 auto;
}

#ouch{
  -webkit-animation: ouch 4.8s infinite;
  -moz-animation: ouch 4.8s infinite;
  -ms-animation: ouch 4.8s infinite;
  -o-animation: ouch 4.8s infinite;
  animation: ouch 4.8s infinite;
  text-align: center;
  font-size: 60px;
  font-family: "astonishedregular";
}

@-webkit-keyframes ouch {
  0% {opacity: 0}
  44% {opacity: 0}
  45% {opacity: 1}
  100% {}
}
